@model BetaCinemas.Models.Contact

@{
    ViewData["Title"] = "Xoá phản hồi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Bạn chắc chắn muốn xoá phản hồi này?</h3><hr />
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SentTimeToString)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SentTimeToString)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SentContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SentContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReplyTimeToString)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReplyTimeToString)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReplyContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReplyContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsReplied)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsReplied)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" value="Delete" class="btn btn-danger">Xoá</button><br />
        <a asp-action="Index"><< Trở về trang trước</a>
    </form>
</div>
