@model IEnumerable<BetaCinemas.Models.Contact>

@{
    ViewData["Title"] = "Danh sách phản hồi";
}

<div class="container">
    <h3>@ViewData["Title"]</h3>
    <p>
        <a asp-action="Create">Gửi phản hồi mới</a>
    </p>
</div>

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                @{
                    <th>@Html.DisplayNameFor(model => model.SentTimeToString)</th>
                    <th>@Html.DisplayNameFor(model => model.SentContent)</th>
                    <th>@Html.DisplayNameFor(model => model.ReplyTimeToString)</th>
                    <th>@Html.DisplayNameFor(model => model.ReplyContent)</th>
                    <th>@Html.DisplayNameFor(model => model.IsReplied)</th>
                    <th></th>
                    <th></th>
                }
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(model => item.SentTimeToString)</td>
                        <td>@Html.DisplayFor(model => item.SentContent)</td>
                        <td>@Html.DisplayFor(model => item.ReplyTimeToString)</td>
                        <td>@Html.DisplayFor(model => item.ReplyContent)</td>
                        @{
                            if (item.IsReplied == true)
                            {
                                <td>Đã trả lời</td>
                                <td></td>
                            }
                            else
                            {
                                <td>Chưa trả lời</td>
                                <td>
                                    <a asp-controller="Contact" asp-action="Edit" asp-route-id="@item.Id">Sửa</a>
                                </td>
                            }
                        }
                        <td>
                            <a asp-controller="Contact" asp-action="Delete" asp-route-id="@item.Id">Xoá</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
