@using Microsoft.AspNetCore.Identity
@model IEnumerable<BetaCinemas.Models.Post>
@inject SignInManager<Member> SignInManager
@inject UserManager<Member> UserManager

@{
    ViewData["Title"] = "Tin mới và ưu đãi";

    @if (SignInManager.IsSignedIn(User))
     {
        if (User.Identity.Name.Equals("admin@betacorp.vn"))
        {
            Layout = "~/Views/Shared/_DashboardLayout.cshtml";
        }
     }
}

<div class="row mb-3">
    @{
        foreach (var item in Model.OrderByDescending(item => item.PostTime))
        {
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" data-holder-rendered="true"
                         src="@Html.DisplayFor(modelItem => item.ImageUrl)">
                    <div class="card-body">
                        <h3 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h3>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-primary"
                                   href="/Post/Details/@Html.DisplayFor(modelItem => item.Id)">Chi tiết</a>
                                <a type="button" class="btn btn-sm btn-outline-success"
                                   href="@Html.DisplayFor(modelItem => item.AttachedUrl)">Đính kèm</a>
                            </div>
                            <small class="text-muted text-right">
                                <a class="text-danger font-weight-bold">@Html.DisplayFor(modelItem => item.Genre)</a>
                                <br />@Html.DisplayFor(modelItem => item.PostDate)
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>