@model IEnumerable<BetaCinemas.Models.Post>

@{
    ViewData["Title"] = "Danh sách bài viết";
}

<h3>@ViewData["Title"]</h3>

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.PostTimeToString)</th>
                <th>@Html.DisplayNameFor(model => model.Title)</th>
                <th>@Html.DisplayNameFor(model => model.Description)</th>
                <th>@Html.DisplayNameFor(model => model.Genre)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
                @{
                    foreach (var item in Model.OrderByDescending(p => p.PostTime))
                    {
                        <tr>
                            <td>@Html.DisplayFor(model => item.PostTimeToString)</td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.Id">
                                    @Html.DisplayFor(model => item.Title)
                                </a>
                            </td>
                            <td>@Html.DisplayFor(model => item.Description)</td>
                            <td>@Html.DisplayFor(model => item.Genre)</td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Sửa</a><br />
                                <a asp-action="Delete" asp-route-id="@item.Id">Xoá</a>
                            </td>
                        </tr>
                    }
                }
        </tbody>
    </table>
</div>
