@model IEnumerable<BetaCinemas.Models.Ticket>

@{
    ViewData["Title"] = "Hành trình điện ảnh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@ViewData["Title"]</h3>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Id)</th>
                <th>@Html.DisplayNameFor(model => model.SoldTime)</th>
                <th>@Html.DisplayNameFor(model => model.Showtime)</th>
                <th>@Html.DisplayNameFor(model => model.TicketPrice)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.DateTime)</td>
                        <td>
                            <a asp-controller="Showtime" asp-action="Details" asp-route-id="@item.ShowtimeId">
                                @Html.DisplayFor(modelItem => item.Showtime.DateTime)
                            </a>
                        </td>
                        <td>
                            <a asp-controller="TicketPrice" asp-action="Details" asp-route-id="@item.TicketPriceId">
                                @Html.DisplayFor(modelItem => item.TicketPrice.DateType)
                            </a>
                            </td>
                        <td>
                            <a asp-controller="Ticket" asp-action="Delete" asp-route-id="@item.Id">
                                Huỷ
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
