@model IEnumerable<BetaCinemas.Models.TicketPrice>

@{
    ViewData["Title"] = "Giá vé";
}

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.DateType)</th>
                <th>@Html.DisplayNameFor(model => model.StartTime)</th>
                <th>@Html.DisplayNameFor(model => model.EndTime)</th>
                <th>@Html.DisplayNameFor(model => model.IsPriority)</th>
                <th>@Html.DisplayNameFor(model => model.Price)</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.DateType)</td>
                        <td>@Html.DisplayFor(modelItem => item.StartTime)</td>
                        <td>@Html.DisplayFor(modelItem => item.EndTime)</td>
                        @{
                            if (item.IsPriority == true)
                            {
                                <td>Ưu tiên</td>
                            }
                            else
                            {
                                <td>Không ưu tiên</td>
                            }

                        }
                        <td>@Html.DisplayFor(modelItem => item.Price)</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>