@model BetaCinemas.Models.TicketPrice

@{
    ViewData["Title"] = "Chi tiết loại vé";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>@ViewData["Title"]</h3>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPriority)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPriority)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Is2D)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Is2D)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSpecial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSpecial)
        </dd>
    </dl>
</div>
