@model BetaCinemas.Models.Ticket

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoldTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoldTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Showtime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Showtime.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketPrice)
        </dt>
    </dl>
</div>
