@model IEnumerable<BetaCinemas.Models.Movie>

@{
    ViewData["Title"] = "Phim sắp chiếu";
}
<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Beta Cinemas</h1>
            <p class="lead text-muted">Chúng tôi luôn luôn cập nhật thông tin về các bộ phim mới và hay nhất dành cho bạn</p>
            <p>
                <a href="/Movie/Showed" class="btn btn-secondary my-2">Phim đã chiếu</a>
                <a href="/Movie/Showing" class="btn btn-primary my-2">Phim đang chiếu</a>
                <a href="/Movie/Premiere" class="btn btn-success my-2">Phim sắp chiếu</a>
            </p>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                @foreach (var item in Model)
                {
                    if (item.IsShowing == null)
                    {
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top" data-holder-rendered="true"
                                     src="@Html.DisplayFor(modelItem => item.PosterUrl)">
                                <div class="card-body">
                                    <h3 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h3>
                                    <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a type="button" class="btn btn-sm btn-outline-primary"
                                               asp-action="Information" asp-route-id="@item.Id">Chi tiết</a>
                                            <a type="button" class="btn btn-sm btn-outline-success"
                                               href="@Html.DisplayFor(modelItem => item.TrailerUrl)">Trailer</a>
                                        </div>
                                        <small class="text-muted text-right">
                                            @Html.DisplayFor(modelItem => item.ReleaseDate)<br />
                                            @Html.DisplayFor(modelItem => item.Genre)
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</main>