@model BetaCinemas.Models.Contact

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Contact</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SentTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SentTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SentContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SentContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReplyTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReplyTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReplyContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReplyContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsReplied)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsReplied)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Member)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Member.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
